:root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font: 16px / 24px "Rubik", sans-serif;
    color: var(--black);
    background: #95bfc31f;
    margin: 50px 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    background: linear-gradient(183deg, #6fb4fd 0%, #223e5c 50%);
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
  }
    
  .container {
  margin: 30px 200px;
  width: 80%;
  text-align: center;
 }


   .brand a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
    }

    .button {
      display: block;
      width: 115px;
      height: 25px;
      background: #5caafc;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
  }

  .back-button {

    display: block;
    width: 350px;
    height: 25px;
    background: transparent;
    text-align: center;
    border-radius: 5px;
    color: grey;
    font-weight: 100;
    line-height: 25px;
    padding: 20px 0;
  }

   li img {
    height: 180px;
    width: 180px;
    padding-right: 0;
    }

   li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 326%;
    }
  
    li .li {

        padding: 30px 0;
        color: #2bab53cf;
        font-family: inherit;

    }
   ul .head {
    flex-direction: column;
   }

   ul .ul {
    flex-direction: row;
    padding: 30px;
   }

   .ml-3 {
        margin-left: 3rem;
    }

    .ml-300 {
        margin-left: 300px;
    }

    .text-align{
      text-align: center;
    }

    .submit {
      display: inline-block;
      background-color: green;
      color: white;
      padding: 0.5rem;
      font-family: sans-serif;
      border-radius: 0.3rem;
      cursor: pointer;
      margin-top: 1rem;
      margin-left: 120px;
    }

   li > a{
        text-decoration: none;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 500;
    }


   li::after {
        content: '';
        width: 0rem;
        height: 0.15rem;
        background-color: #fff;
        display: block;
        border-radius: 0.2rem;
        margin: 0.2rem auto 0 auto;
        transition: all 0.3s ease-in-out;
    }


    .add {
      padding: 40px 0 0 120px;
      font-family: inherit;
      color: gray;
    }

    .link {
      color: blue;
      padding-top: 130px;
    }

    .file {
      padding: 70px;
    }
  
  .container {
    max-width: 1400px;
    padding: 30px 15px;
    margin: 0 auto;
  }

  .form {
    padding: 50px 0 0 120px;
    font-family: inherit;
    color: gray;
    width: 20%;
  }

  .upload{
    display: inline-block;
    background-color: green;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
.input {
  width: 40%;
  color: grey;
  border-color: lightgrey;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

  h2 {
    font-size: 32px;
    margin-bottom: 1em;
  }
  
  .cards {
    display: flex;
    padding: 25px 0 25px 150px;
    list-style: none;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  .card:not(:last-child) {
    margin-right: 10px;
  }
  
  .card:hover {
    color: var(--white);
    background: var(--red);
  }
  
  .card .card-title {
    font-size: 20px;
  }
  
  .card .card-content {
    margin: 10px 0;
    max-width: 100%;
  }
  
  .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .card:hover .card-link {
    background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar-track {
    background: var(--thumb);
  }
  
  @media (min-width: 500px) {
    .card {
      flex-basis: calc(50% - 10px);
    }
  
    .card:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .card {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .card:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .card {
      flex-basis: calc(25% - 30px);
    }
  
    .card:not(:last-child) {
      margin-right: 40px;
    }
  }
  
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
  }
  
  .page-footer a {
    display: flex;
    margin-left: 4px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: linear-gradient(183deg, #6fb4fd 0%, #223e5c 50%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .small {
    padding-right: 30px;
    font-size: small;
  }